.banner {
    height: 80vh;
    background-image: url('../images/dish-egg-food.jpg');
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: cover;
    padding-top: 0;
    padding-bottom:0;
    z-index: -99;
    color: white;
}

.banner-text {
    padding-top: 75px;
}

.row {
    margin-bottom: 0px;
}