.plans-row {
    min-height: 66vh;
    background: url("../images/restaurant_icons.png") top repeat;
}

.new-plan-row {
    display: flex;
    justify-content: center;
    max-width:750%;
}

.plan-schedule-row {
    flex-wrap: wrap;
}

.completed-plan-day-cell {
    min-width: 190px;
    min-height: 200px;
    border: 4px solid black;
    margin-left: 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.plan-day-cell {
    max-width: 190px;
    min-height: 200px;
    border: 4px solid black;
    margin-left: 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.sunday-cell {
    margin-left: 0px;
}

.save-plan-button {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
}

.plan-recipe-input {
    max-width:  170px;
}

.plan-schedule-row {
    margin: 0px 25px;
}

.fa-plus-circle {
    cursor: pointer;
}

.grocery-list-row {
    display: flex;
    justify-content: center;
}

.save-plan-button:after {
    content: none;
    display: none;
    clear: none;
}

.single-plan-title-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.single-plan-info-img {
    width: 20px;
    padding-top: 20px;
}
