.complete-recipe-row {
    background: url("../images/restaurant_icons.png") top repeat;
}

.recipe-instruction-row {
    display: flex;
    justify-content: center;
    max-width: 75%;
}

.recipe-instruction-col {
    width: 100%;
}

